{% extends '@PhotoPlugin/base.html.twig' %}

{% block body %}
    <h1>Tableau de bord Photographe</h1>

    <p>Bienvenue, {{ app.user.username }} !</p>

    <a href="{{ path('photographer_upload') }}">Uploader des photos</a>
{% endblock %}
