{% extends '@SyliusAdmin/layout.html.twig' %}

{% block content %}
    <div class="ui segment">
        <h1 class="ui header">Uploader des Photos</h1>

        {{ form_start(form, {'attr': {'class': 'ui form'}}) }}
        <div class="field">
            {{ form_row(form.event) }}
        </div>
        <div class="field">
            {{ form_row(form.photos) }}
        </div>

        <button type="submit" class="ui primary button">Uploader</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
